@model GMSTp2.DataModel.Periodo_Academico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Periodo_Academico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomPeriodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomPeriodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomActividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomActividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodPeriodo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
