@model  Innova.Common.Core.Entities.tb_Planner_Mantenimiento

@{
    ViewBag.Title = "Create";
}

 

<h2>Create</h2>


@using (Html.BeginForm("Create", "Planner_mantenimiento"))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Planner_mantenimiento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.codigo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10"> 
                @if (TempData["viewbag_hasvalues"] == null)
                {
                    <input type="text" id="FechaInicio" name="FechaInicio" />
                }
                else
                {
                    <input type="text" id="FechaInicio" name="FechaInicio" value="@TempData["viewbag_fechainicio"].ToString()" />
                }
                <script>
                          $( function() {
                              $("#FechaInicio").datepicker({
                                  onSelect: function (dateText, inst) {
                                      try {
                                          procesar();

                                      } catch (e) {
                                          console.log("error");
                                          console.log(e);
                                      }
                                  },
                                  dateFormat: 'yy-mm-dd'
                              });

                          });

                          function procesar() {

                              var date2 = $('#FechaInicio').datepicker('getDate', '+1d');
                              var dia_inicial = date2.getDate();
                              date2.setDate(date2.getDate() + 6);
                              console.log(date2);
                              $('#FechaFin').datepicker('setDate', date2);

                              //Generado el codigo de los planner
                              var d = new Date();
                              var codplanner = "";
                              codplanner = d.getFullYear() + "" + Lpad("" + (d.getMonth()+1), 2, "0") + "-" + Lpad("" + dia_inicial, 2, "0") + "-" + Lpad("" + date2.getDate(), 2, "0");
                              console.log(Lpad("" + (d.getMonth()+1), 2, "0"));

                              //seteando los valores viewbag
                              $("#codigo").val(codplanner);
                              $('#viewbag_codigo').val(codplanner);
                              $('#viewbag_fechainicio').val($('#FechaInicio').val());
                              $('#viewbag_fechafin').val($('#FechaFin').val());
                              $('#viewbag_codperiodo').val($('#CodPeriodo').val());
                              $('#viewbag_codplanner').val(codplanner);

                              //configurando los dias a mostrar
                              ConfigurarDias(dia_inicial, date2.getDate());

                          }

                    

                </script>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                    @if (TempData["viewbag_hasvalues"] == null)
                    {
                        <input type="text" id="FechaFin" name="FechaFin" />
                    }
                    else
                    {
                        <input type="text" id="FechaFin" name="FechaFin" value="@TempData["viewbag_fechafin"].ToString()"/>
                    }
                <script>
                    $( function() {
                        $("#FechaFin").datepicker({ dateFormat: 'yy-mm-dd' });
                    });
                    </script>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodPeriodo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CodPeriodo",
new Innova.GMantenimiento.MVC.Controllers.Periodo_AcademicoController().Combo(),
"Select state",
new { @class = "form-control", @value = new Innova.GMantenimiento.MVC.Controllers.Periodo_AcademicoController().ObtenerActual().CodPeriodo })
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-md-10">
                <input type="hidden" id="CodEstado" name="CodEstado" value="1" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="javascript: return confirm('Desea Guardar la Generación de Planner?');" />

                @if (TempData["viewbag_codigo_planner"] != null)
                {

                @Html.ActionLink(
                      "Imprimir Reporte",                                                  // linkText
                      "Reporteplanner",                                    // actionName
                      "Planner_mantenimiento",
                      new
                      {                                                     // htmlAttributes
                          id = @TempData["viewbag_codigo_planner"]
                      }, new { onclick = "return confirm('Desea Imprimir el Informe?');" })

                }
            </div>
        </div>
    </div>
}

<hr />
<h4>Programacion de Planner</h4>
<Br>


@using (Html.BeginForm("AgregarItem", "Planner_mantenimiento"))
{
    @Html.AntiForgeryToken()
    <table>
        <thead>
            <tr>
                <td>
                    #
                </td>
                <td>
                    Fecha
                </td>
                <td>
                    Instalacion
                </td>
                <td>
                    Tarea a Realizar
                </td>
                <td>
                    Material a Utilizar
                </td>
                <td>
                    Cantidad
                </td>
                <td>
                    Opciones
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    #
@if (TempData["viewbag_hasvalues"] != null)
{
                    <input type="hidden" id="viewbag_codigo" name="viewbag_codigo" value="@TempData["viewbag_codigo"].ToString()" />
                    <input type="hidden" id="viewbag_fechainicio" name="viewbag_fechainicio" value="@TempData["viewbag_fechainicio"].ToString()" />
                    <input type="hidden" id="viewbag_fechafin" name="viewbag_fechafin" value="@TempData["viewbag_fechafin"].ToString()" />
                    <input type="hidden" id="viewbag_codperiodo" name="viewbag_codperiodo" value="@TempData["viewbag_codperiodo"].ToString()" />
                    <input type="hidden" id="viewbag_codplanner" name="viewbag_codplanner" value="@TempData["viewbag_codplanner"].ToString()" />
}
else
{

    <input type="hidden" id="viewbag_codigo" name="viewbag_codigo" value="0" />
                    <input type="hidden" id="viewbag_fechainicio" name="viewbag_fechainicio"  value="0" />
                    <input type="hidden" id="viewbag_fechafin" name="viewbag_fechafin"  value="0" />
                    <input type="hidden" id="viewbag_codperiodo" name="viewbag_codperiodo"  value="0" />
                    <input type="hidden" id="viewbag_codplanner" name="viewbag_codplanner"  value="0" />
}
                </td>
                <td>
                    <select type="text" id="fecha_tentantiva_programacion" name="fecha_tentantiva_programacion" />
                    <script> 
                </script>
                </td>
                <td>
                    @Html.DropDownList("CodInstalacion",
new Innova.GMantenimiento.MVC.Controllers.InstalacionsController().Combo(),
"Select state",
new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownList("CodTarea",
new Innova.GMantenimiento.MVC.Controllers.TareaController().Combo(),
"Select state",
new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownList("CodArticulo",
new Innova.GMantenimiento.MVC.Controllers.ArticuloesController().Combo(),
"Select state",
new { @class = "form-control" })
                </td>
                <td>
                    <input type="text" id="cantidad" name="cantidad" value="1" />
                </td>
                <td>
                    <input type="submit" value="Agregar" id="AgregarItem" name="AgregarItem" class="btn btn-default" />
                </td>
            </tr>
        </tbody>
        @{ int contador_item = 0;}
        <tbody>
            @foreach (Innova.GMantenimiento.Infraestructure.Data.CompositeEntities.ItemAtencionPlanner item in (List<Innova.GMantenimiento.Infraestructure.Data.CompositeEntities.ItemAtencionPlanner>)Session["programacion"])
            { 
                                
                <tr>
                    <td>
                        @String.Format("N° {0}", item.CodPlanner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_tentantiva_programacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => new Innova.GMantenimiento.Domain.BL_Instalacion().Obtener( Convert.ToInt32( item.CodInstalacion)).Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => new Innova.GMantenimiento.Domain.BL_Tarea().Obtener(Convert.ToInt32(item.CodTarea)).Nombre)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => new Innova.GMantenimiento.Domain.BL_Articulo().Obtener(Convert.ToInt32(item.CodArticulo)).Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.ActionLink(
             "Eliminar",                                                  // linkText
             "EliminarItem",                                    // actionName
             "Planner_mantenimiento",
             new
             {                                                     // htmlAttributes
                 secuencial = item.secuencial
             }, new { onclick = "return confirm('Desea Eliminar el Registro?');" }) 
          
                    </td>
                </tr>
            }
        </tbody>
    </table>
            }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@if (TempData["viewbag_hasvalues"] != null)
{
    <script language="JavaScript">

        console.log("entra a rescatar data");
        $("#codigo").val('@TempData["viewbag_codigo"].ToString()');
        var dFecIni = new Date("@TempData["viewbag_fechainicio"].ToString()");
        $('#fechainicio').datepicker('setDate', dFecIni);
        var dFecFin = new Date("@TempData["viewbag_fechafin"].ToString()");
        $('#fechafin').datepicker('setDate', dFecFin);
        //$('#CodPeriodo').val('@TempData["viewbag_codperiodo"].ToString()');
        $("#CodPeriodo option[value='@TempData["viewbag_codperiodo"].ToString()']").prop('selected', true);
        setTimeout(function () { procesar(); }, 3000);
    </script>
}

<script type="text/javascript">
    $(function () {
        $("#CodPeriodo").change(function () {
            console.log("entra a combo codperiodo");
            console.log($("#CodPeriodo").val());
            $('#viewbag_codperiodo').val($("#CodPeriodo").val()); 
        });
    });
</script>

<script language="JavaScript">

    function Lpad(valor, cantidad, caracter) {
        var cadena = "";
        for (i = 0; i < cantidad;i++){
            cadena= caracter + "" + cadena;
        }
        return cadena.substring(0, cadena.length - valor.length) + valor;
    }


    function ConfigurarDias(DiaInicio, DiaFinal) {
        try {
            var fecha = new Date();
            var a = moment([fecha.getFullYear(), fecha.getMonth(), DiaInicio]);
            var fecha_inicial = moment([fecha.getFullYear(), fecha.getMonth(), DiaInicio]);

            console.log("dia inicial" + a);

            var b = moment([fecha.getFullYear(), fecha.getMonth(), DiaFinal]);
             
            console.log("dia final" + b);

            console.log("entra a moment");
            console.log("diferencias " + Math.abs(a.diff(b, 'days')));
            var diferencia = Math.abs(a.diff(b, 'days'));

            for (i = 0 ; i <= diferencia ; i++) {

                $('#fecha_tentantiva_programacion').append($('<option>',
                {
                    value: "" + fecha.getFullYear() + "-" + fecha.getMonth() + "-" + fecha_inicial.date() + "",
                    text: fecha.getFullYear() + "-" + fecha.getMonth() + "-" + fecha_inicial.date()
                }));
                fecha_inicial=fecha_inicial.add(1, 'days');
            }

            

        } catch (e) {
            console.log(e);
        }

    }

</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}