@model Innova.Common.Core.Entities.tb_Tarea

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomTarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbrevTarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbrevTarea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodTarea }) |
    @Html.ActionLink("Back to List", "Index")
</p>
