@model List<Innova.GMantenimiento.MVC.Models.Cotizacion>

@{
    ViewBag.Title = "VerCotizacion";
}

<br />
<br />
<div class="col-md-10 col-lg-offset-1">
    @Html.ActionLink("Regresar a listado cotización", "ListadoCotizacion")
</div>
<br />
<div class="col-md-10 col-lg-offset-1">

    <table>
        <tr>
            <th>Datos de la cotización</th>
        </tr>
        <tr>
            <th>Fecha</th>
            <th>CodProveedor</th>
            <th>CodEstado</th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.TextBox("FechaCotizacion", item.FechaCotizacion)
                </td>
                <td>
                    @Html.TextBox("CodProveedor", item.CodProveedor)
                </td>
                <td>
                    @Html.TextBox("CodEstado", item.CodEstado)
                </td>
            </tr>
            break;
        }
    </table>


</div>
<br />
<div class="col-md-10 col-lg-offset-1">
    <table>
        <tr>
            <th>Detalle</th>
        </tr>
        <tr>
            <th>CodArticulo</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
            {
            <tr>
                <td>@Html.EditorFor(model => model[i].CodArticulo)</td>
                <td>@Html.EditorFor(model => model[i].Cantidad)</td>
                <td>@Html.EditorFor(model => model[i].Precio)</td>
            </tr>
        }
    </table>
    <br />
</div>
