
<ul class="nav-wrap">
    <li class="nav-01">
        <span class="list-collapse">Sistemas <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#" class="nav_ajx">Gestión Directiva</a>
            </li>
            <li class="nav-02">
                <a href="#" class="nav_ajx">Gestión de Adquisiciones</a>
            </li>   
        </ul>
    </li>
    <li class="nav-01">
        <span class="list-collapse">Gestión de Mantenimiento <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#">Operaciones</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03">@Html.ActionLink("Generar Planner", "Index", "Planner_mantenimiento")</li>
                    <li class="nav-03">@Html.ActionLink("Control Calidad", "Index", "Calidad_mantenimiento")</li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">Mantenimiento</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03">@Html.ActionLink("Tareas ", "Index", "Tarea")</li>
                    <li class="nav-03">@Html.ActionLink("Instalaciones", "Index", "Instalacions")</li>
                    <li class="nav-03">@Html.ActionLink("Materiales", "Index", "Articuloes")</li>
                    <li class="nav-03">@Html.ActionLink("Periodo Académico", "Index", "Periodo_Academico")</li>
                </ul>
            </li> 
        </ul>
    </li>
    <li class="nav-01">
        <span class="list-collapse">[POR DEFINIR] <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">Diego</a></li>
                    <li class="nav-03"><a href="#">Diego</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-01">
        <span class="list-collapse">[POR DEFINIR] <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">Diego</a></li>
                    <li class="nav-03"><a href="#">Diego</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-01">
        <span class="list-collapse">[POR DEFINIR] <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-01">
        <span class="list-collapse">[POR DEFINIR] <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">Diego</a></li>
                    <li class="nav-03"><a href="#">Diego</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-01">
        <span class="list-collapse">Seguridad <i class="ico-collapse"></i></span>
        <ul class="nav-collapse">
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">Diego</a></li>
                    <li class="nav-03"><a href="#">Diego</a></li>
                </ul>
            </li>
            <li class="nav-02">
                <a href="#">[POR DEFINIR]</a>
                <ul class="nav-collapse-sub">
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                    <li class="nav-03"><a href="#">[POR DEFINIR]</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>