@model GMSTp2.DataModel.Instalacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instalacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomInstalacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomInstalacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AbrevInstalacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AbrevInstalacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aforo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aforo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodInstalacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
