@model IEnumerable<GMSTp2.DataModel.Instalacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomInstalacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbrevInstalacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aforo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomInstalacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbrevInstalacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aforo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodInstalacion }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodInstalacion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodInstalacion })
        </td>
    </tr>
}

</table>
